html {
    margin: 0;
}

[data-theme="light"] {
    --color-bg: #ffffff;
    --color-fg: #000000;
    --color-bg2: #eee;
    --color-bghl: #feffbe;
    --color-bgro: #ddd;
    --color-border: #bbb;
}

[data-theme="dark"] {
    --color-bg: #000000;
    --color-fg: #ffffff;
    --color-bg2: #222;
    --color-bghl: #1d1d0c;
    --color-bgro: #333;
    --color-border: #111;
}

body {
    margin:0;
    font-family: sans-serif;
    background-color: var(--color-bg);
    color: var(--color-fg);
}

header {
    padding: 1rem;
}

h1 {
    margin: 0;
    text-decoration: overline underline;
}

details {
    font-size: 0.8rem;
}

footer {
    padding: 0.3rem;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1; /* Optional background */
    line-height: 70%;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

table {
    width: 100%;
}

label {
    font-size: 0.8rem;
    font-weight: bold;
}

.bcByteArrayLength, #bcStringASCIILength, #bcStringUTF8Length {
    font-size: 0.7rem;
}

input, select, textarea {
    font-family: monospace;
    font-size: 0.9rem;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    border-radius: 4px;
}

fieldset {
    background-color: var(--color-bg2);
    border: 1px solid var(--color-border);
    margin: 5px;
}

legend {
    border: 1px solid var(--color-border);
    background-color: var(--color-bg2);
    font-weight: bold;
}

input[type=text] {
    box-sizing: border-box;
    outline: none;
}

input[type=text]:read-write:focus {
    background-color: var(--color-bghl);
}

textarea {
    box-sizing: border-box;
    outline: none;
    resize: vertical;
    width: 100%;
    font-size: 0.8rem;
}

textarea:focus {
    background-color: var(--color-bghl);
}

label:hover {
    color: red;
}
